.productPage {
  padding: 2vw 8vw;

  .productDetail {
    display: flex;
    flex-direction: row;
    @media (max-width: 980px) {
      flex-direction: column;
    }

    .productImage {
      display: flex;
      flex-direction: column;
      width: 32vw;
      margin-right: 2vw;
      @media (max-width: 980px) {
        width: 80vw;
        margin-right: 20vw;
      }

      .avatar {
        display: block;
        width: 100%;
        position: relative;

        .productAvatar {
          width: 32vw;
          @media (max-width: 980px) {
            width: 80vw;
          }
        }

        .outOfStock {
          cursor: pointer;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 8vw;
          height: 8vw;
          border-radius: 50%;
          background-color: #ab9b92b9;
          font-size: 1.2vw;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;

          @media (max-width: 980px) {
            width: 16vw;
            height: 16vw;
            font-size: 2.4vw;
          }
        }
      }

      .swiper {
        width: 100%;
        padding: 1vw 0 2vw 0;
        @media (max-width: 980px) {
          padding: 1vw 0 4vw 0;
        }
      }

      .slideImage {
        width: 6vw;
        height: auto;
        border-radius: 0.4vw;
        @media (max-width: 980px) {
          border-radius: 0.8vw;
          width: 16vw;
        }
      }

      .swiper-slide {
        width: 6vw;
        height: auto;
        margin-right: 4vw;
        border-radius: 0.4vw;
        @media (max-width: 980px) {
          border-radius: 0.8vw;
          padding: 1vw 0;
        }
      }
    }

    .productInfo {
      width: 100%;
      .name {
        font-family: 'Paytone';
        font-size: 1.6vw;
        display: flex;
        text-align: justify;
        @media (max-width: 980px) {
          font-size: 3.2vw;
        }
      }

      .productRating {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0.8vw 0;
        font-size: 1.2vw;
        @media (max-width: 980px) {
          font-size: 2.4vw;
        }
        .line {
          margin: 0 1.2vw 0 2vw;
          height: 1.6vw;
          @media (max-width: 980px) {
            height: 3.2vw;
          }
        }
        .favoriteTag {
          display: flex;
          flex-direction: row;
          align-items: center;
        }
      }

      .productPrice {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: center;
        margin: 0.4vw 0;
        @media (max-width: 980px) {
          margin: 1.6vw 0;
        }

        .oldPrice {
          text-decoration: line-through;
          font-size: 1.2vw;
          color: #ab9b92;
          margin-right: 1.2vw;
          @media (max-width: 980px) {
            font-size: 2.8vw;
          }
        }

        .price {
          color: red;
          font-size: 2vw;
          margin-right: 1.2vw;
          @media (max-width: 980px) {
            font-size: 2.8vw;
          }
        }

        .onSale {
          width: 9.6vw;
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          padding-top: 0.2vw;
          @media (max-width: 980px) {
            width: 20vw;
            padding-top: 0.8vw;
          }

          .discount {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.2vw 0.4vw;
            height: 1.6vw;
            border-radius: 0.4vw;
            background: red;
            color: #fff;
            font-size: 1vw;
            @media (max-width: 980px) {
              padding: 0.4vw 0.8vw;
              height: 2.8vw;
              border-radius: 0.8vw;
              font-size: 2vw;
            }
          }
        }
      }

      .variation {
        .title {
          font-family: 'Paytone';
          font-size: 1.2vw;
          @media (max-width: 980px) {
            font-size: 2vw;
          }
        }

        .variationOption {
          margin: 0.2vw 0;
          height: 2vw;
          display: flex;
          align-items: center;
          align-self: center;
          @media (max-width: 980px) {
            height: 4vw;
            width: 20vw;
            border-radius: 0.4vw;
            overflow: visible;
          }

          .name {
            font-family: 'Muli';
            color: #2a2728;
            font-size: 0.8vw;
            width: 7.2vw;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            @media (max-width: 980px) {
              font-size: 1.6vw;
              width: 16vw;
            }
          }

          .ant-radio-button-checked {
            background: #decdbb;
          }
        }
      }

      .quantity {
        font-family: 'Paytone';
        font-size: 1.2vw;
        margin: 0.4vw 0;
        @media (max-width: 980px) {
          font-size: 2vw;
          margin: 0.8vw 0;
        }

        .number {
          display: flex;
          align-items: center;
          font-size: 0.8vw;
          @media (max-width: 980px) {
            font-size: 2vw;
          }

          .inputNumber {
            display: flex;
            align-items: center;
            width: 8vw;
            margin-right: 1.2vw;
            @media (max-width: 980px) {
              width: 20vw;
              height: 6vw;
            }
          }
        }
      }

      .button {
        .addToCart {
          background: #decdbb;
          color: #2a2728;
          margin: 1vw 1vw 1vw 0;
          @media (max-width: 980px) {
            font-size: 1.6vw;
            height: 4vw;
          }
          &:hover {
            background: #ab9b92;
            color: #fff;
            border-color: #77675a;
          }
        }

        .buyNow {
          background: #ab9b92;
          color: #fff;
          margin: 1vw 1vw 1vw 0;
          @media (max-width: 980px) {
            font-size: 1.6vw;
            height: 4vw;
          }
          &:hover {
            background: #decdbb;
            color: #2a2728;
            border-color: #77675a;
          }
        }
      }
    }
  }

  .productDescription {
    margin: 0.4vw 0 2vw 0;

    .title {
      font-family: 'Paytone';
      font-size: 1.2vw;
      @media (max-width: 980px) {
        font-size: 2vw;
      }
    }

    .description {
      display: flex;
      text-align: justify;
      font-size: 1vw;
      @media (max-width: 980px) {
        font-size: 2vw;
      }
    }
  }

  .productReviews {
    margin: 0.4vw 0 2vw 0;

    .title {
      font-family: 'Paytone';
      font-size: 1.2vw;
      @media (max-width: 980px) {
        font-size: 2vw;
      }
    }

    .productReviewsContent {
      margin-top: 0.8vw;
      background: #decdbb1f;

      .tab {
        display: flex;
        width: 100%;

        .reviewTab {
          .review {
            padding: 0 0 1.2vw;

            .userInfo {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;

              .avatar {
                height: 2.8vw !important;
                width: 2.8vw !important;
                border-radius: 50%;
                margin-right: 0.8vw;
                span {
                  font-size: 0.8vw !important;
                }
              }

              .info {
                line-height: 1.2vw;
                font-size: 0.8vw;

                .name {
                  font-weight: bold;
                }

                .rating {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                }

                .time {
                  display: flex;
                  flex-direction: row;
                  color: #ab9b92;

                  .variation {
                    margin-left: 0.2vw;
                  }
                }
              }
            }

            .content {
              margin: 0.4vw 0 0.4vw 3.6vw;
              font-size: 1vw;
              color: #77675a;
            }

            .listImage {
              display: flex;
              flex-direction: row;
              margin: 0.2vw 0 0.2vw 3.6vw;

              .image {
                margin: 0.2vw;
                width: 4vw;
                height: 4vw;
              }
            }
          }
        }
      }
    }
  }

  .mayLikeProduct,
  .relativeProduct,
  .recommendProduct,
  .viewedProduct {
    .title {
      font-family: 'Paytone';
      font-size: 1.2vw;
      display: flex;
      justify-content: space-between;
      @media (max-width: 980px) {
        font-size: 2vw;
      }
    }

    .seeAll {
      display: flex;
      flex-direction: row-reverse;
      margin: 0.2vw 0;
      font-size: 1.2vw;
      @media (max-width: 980px) {
        font-size: 2.4vw;
      }
      &:hover {
        cursor: pointer;
        color: #2a2728;
        font-weight: bold;
      }
    }

    .listProduct {
      margin: 1.2vw 0;
      padding: 0;
      border-radius: 0.4rem;

      .title {
        font-family: 'Paytone';
        font-size: 2.8vw;
        text-transform: uppercase;
        color: #2a2728;
        display: flex;
        justify-content: center;
        margin: 0;
        @media (max-width: 980px) {
          font-size: 4vw;
        }
      }

      .swiper {
        width: 100%;
        height: 100%;
        padding: 0 2vw 1vw 2vw;

        .slideText {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 0 1vw;
          @media (max-width: 980px) {
            margin: 0 2vw;
          }

          .name {
            font-family: 'Paytone';
            font-size: 1.2vw;
            max-width: 16vw;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            @media (max-width: 980px) {
              max-width: 68vw;
              font-size: 2.8vw;
            }
          }

          .priceGroup {
            display: flex;
            flex-direction: row;
            align-items: flex-end;

            .oldPrice {
              color: #eee;
              text-decoration: line-through;
              font-size: 0.8vw;
              margin-right: 1.2vw;
              @media (max-width: 980px) {
                font-size: 1.6vw;
              }
            }

            .price {
              font-size: 1vw;
              color: #fff;
              @media (max-width: 980px) {
                font-size: 2vw;
              }
            }
          }
        }

        .imageGroup {
          display: flex;
          align-items: center;
          justify-content: center;

          .slideImage {
            display: block;
            width: 90%;
            height: 90%;
            object-fit: cover;
            margin: 0 auto;
            border-radius: 0.4vw;
            @media (max-width: 980px) {
              border-radius: 0.8vw;
            }
          }

          .outOfStock {
            cursor: pointer;
            background-color: #2a2728dc;
            color: #fff;
            text-align: center;
            font-size: 0.8vw;
            height: 6vw;
            width: 6vw;
            border-radius: 50%;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: 980px) {
              font-size: 1.2vw;
              height: 10vw;
              width: 10vw;
            }
          }
        }

        .swiper-slide {
          width: 100%;
          height: 100%;
          padding: 1vw 0.4vw;
          margin-bottom: 1.6vw;
          border-radius: 0.4vw;
          background-color: #decdbb;
          box-shadow: 0.2vw 0.2vw #ab9b92;
          @media (max-width: 980px) {
            padding: 2.4vw 0.4vw;
            border-radius: 0.8vw;
            margin-bottom: 4vw;
          }
          &:hover {
            background-color: #ab9b92;
            color: #fff;
            box-shadow: none;
          }
        }
      }
    }
  }
}

.ant-radio-button-wrapper {
  display: flex;
  text-align: center;
  padding: 0 0.4vw;
}

[data-star] {
  text-align: left;
  font-style: normal;
  display: inline-block;
  position: relative;
  unicode-bidi: bidi-override;
}
[data-star]::before {
  display: block;
  content: '★★★★★';
  font-size: 1.2vw;
  color: #ddd;
}
[data-star]::after {
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  width: 0;
  color: orange;
  overflow: hidden;
  height: 100%;
  font-size: 1.2vw;
}

[data-star^='0.1']::after,
[data-star^='.1']::after {
  width: 2%;
}
[data-star^='0.2']::after,
[data-star^='.2']::after {
  width: 4%;
}
[data-star^='0.3']::after,
[data-star^='.3']::after {
  width: 6%;
}
[data-star^='0.4']::after,
[data-star^='.4']::after {
  width: 8%;
}
[data-star^='0.5']::after,
[data-star^='.5']::after {
  width: 10%;
}
[data-star^='0.6']::after,
[data-star^='.6']::after {
  width: 12%;
}
[data-star^='0.7']::after,
[data-star^='.7']::after {
  width: 14%;
}
[data-star^='0.8']::after,
[data-star^='.8']::after {
  width: 16%;
}
[data-star^='0.9']::after,
[data-star^='.9']::after {
  width: 18%;
}
[data-star^='1']::after {
  width: 20%;
}
[data-star^='1.1']::after {
  width: 22%;
}
[data-star^='1.2']::after {
  width: 24%;
}
[data-star^='1.3']::after {
  width: 26%;
}
[data-star^='1.4']::after {
  width: 28%;
}
[data-star^='1.5']::after {
  width: 30%;
}
[data-star^='1.6']::after {
  width: 32%;
}
[data-star^='1.7']::after {
  width: 34%;
}
[data-star^='1.8']::after {
  width: 36%;
}
[data-star^='1.9']::after {
  width: 38%;
}
[data-star^='2']::after {
  width: 40%;
}
[data-star^='2.1']::after {
  width: 42%;
}
[data-star^='2.2']::after {
  width: 44%;
}
[data-star^='2.3']::after {
  width: 46%;
}
[data-star^='2.4']::after {
  width: 48%;
}
[data-star^='2.5']::after {
  width: 50%;
}
[data-star^='2.6']::after {
  width: 52%;
}
[data-star^='2.7']::after {
  width: 54%;
}
[data-star^='2.8']::after {
  width: 56%;
}
[data-star^='2.9']::after {
  width: 58%;
}
[data-star^='3']::after {
  width: 60%;
}
[data-star^='3.1']::after {
  width: 62%;
}
[data-star^='3.2']::after {
  width: 64%;
}
[data-star^='3.3']::after {
  width: 66%;
}
[data-star^='3.4']::after {
  width: 68%;
}
[data-star^='3.5']::after {
  width: 70%;
}
[data-star^='3.6']::after {
  width: 72%;
}
[data-star^='3.7']::after {
  width: 74%;
}
[data-star^='3.8']::after {
  width: 76%;
}
[data-star^='3.9']::after {
  width: 78%;
}
[data-star^='4']::after {
  width: 80%;
}
[data-star^='4.1']::after {
  width: 82%;
}
[data-star^='4.2']::after {
  width: 84%;
}
[data-star^='4.3']::after {
  width: 86%;
}
[data-star^='4.4']::after {
  width: 88%;
}
[data-star^='4.5']::after {
  width: 90%;
}
[data-star^='4.6']::after {
  width: 92%;
}
[data-star^='4.7']::after {
  width: 94%;
}
[data-star^='4.8']::after {
  width: 96%;
}
[data-star^='4.9']::after {
  width: 98%;
}
[data-star^='5']::after {
  width: 100%;
}
