.voucherPage {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 80vw;
  margin: 2vw 8vw;
  padding: 0;
  border-radius: 0.4rem;

  .voucherMenu {
    height: 60vh;
    flex: 1;
    margin-right: 2vw;

    .avatar {
      display: flex;
      flex-direction: row;
      user-select: none;
      cursor: pointer;
      position: relative;
      align-items: center;
      margin-top: 1.2vw;

      .avatarImg {
        height: 3.6vw !important;
        width: 3.6vw !important;
        border-radius: 50%;
        margin-right: 0.8vw;
        span {
          font-size: 0.8vw !important;
        }
      }
      .text {
        .userName {
          font-size: 1.2vw;
          font-weight: bold;
        }
        .editProfile {
          display: flex;
          align-items: center;
          margin-top: 0.4vw;
          font-size: 0.8vw;
        }
      }
    }

    .menu {
      margin-top: 4vw;

      .profile,
      .ranking,
      .order,
      .favoriteProduct,
      .viewedProduct {
        font-size: 1.2vw;
        margin: 0.8vw 0;
        height: max-content;
        flex-direction: column;
        cursor: pointer;
        @media (max-width: 980px) {
          font-size: 1.8vw;
        }

        .profileItem {
          display: flex;
          flex-direction: column;
          margin-left: 0.8vw;

          .item {
            font-size: 1vw;
            @media (max-width: 980px) {
              font-size: 1.4vw;
            }
          }
        }

        .hidden {
          display: none;
        }
      }
    }
  }

  .voucherContent {
    min-height: 100%;
    flex: 4;
    background-color: #decdbb1f;

    .title {
      font-family: 'Paytone';
      font-size: 2.8vw;
      color: #2a2728;
      display: flex;
      justify-content: center;
      margin-top: 0.8vw;
      @media (max-width: 980px) {
        font-size: 4vw;
      }
    }

    .listVoucher {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      padding: 0 0.8vw 6vw 0.8vw;

      .itemVoucher {
        width: 28vw;
        background: #decdbb;
        display: flex;
        flex-direction: row;
        margin: 1.2vw;
        border-radius: 0.4vw;

        .listItem {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          padding: 0.2vw 0;

          .code {
            width: 6vw;
            margin-right: 1.2vw;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.2vw;
            font-weight: bold;
          }

          .info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0.4vw 0;
            font-size: 0.8vw;

            .description {
              color: #77675a;
              font-size: 1vw;
              font-weight: bold;
            }

            .discount {
              display: flex;
              flex-direction: row;
            }
          }
        }
      }
    }
  }
}

.ant-pagination .ant-pagination-item-active {
  background-color: #decdbb;
  border-color: #2a2728;
  border-radius: 0.4vw;
  margin-right: 1.2vw;

  &:hover {
    border-color: #fff;
  }
}
.ant-pagination .ant-pagination-item a {
  color: #2a2728;
  @media (max-width: 980px) {
    font-size: 1.6vw;
  }
  &:hover {
    color: #fff;
    background-color: #decdbb;
    border-color: #2a2728;
    border-radius: 0.4vw;
  }
}
