.homePage {
  position: relative;
  height: 100%;
}

.newArrival,
.topSold,
.topView,
.favoriteList,
.recommend {
  margin: 1.6vw 8vw;
  padding: 0;
  border-radius: 0.4rem;

  .title {
    font-family: 'Paytone';
    font-size: 2.8vw;
    text-transform: uppercase;
    color: #2a2728;
    display: flex;
    justify-content: center;
    margin: 0;
    @media (max-width: 980px) {
      font-size: 4vw;
    }
  }

  .seeAll {
    display: flex;
    flex-direction: row-reverse;
    margin: 0.2vw 0;
    font-size: 1.2vw;
    @media (max-width: 980px) {
      font-size: 2.4vw;
    }
    &:hover {
      cursor: pointer;
      color: #2a2728;
      font-weight: bold;
    }
  }

  .swiper {
    width: 100%;
    height: 100%;
    padding: 0 2vw 1vw 2vw;

    .slideText {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 1vw;
      @media (max-width: 980px) {
        margin: 0 2vw;
      }

      .name {
        font-weight: bold;
        font-size: 1vw;
        max-width: 16vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @media (max-width: 980px) {
          max-width: 68vw;
          font-size: 2vw;
        }
      }

      .price {
        font-size: 1vw;
        @media (max-width: 980px) {
          font-size: 2vw;
        }
      }
    }

    .slideAvt {
      display: flex;
      align-items: center;
      justify-content: center;

      .slideImage {
        display: block;
        width: 90%;
        height: 90%;
        object-fit: cover;
        margin: 0 auto;
        border-radius: 0.4vw;
        @media (max-width: 980px) {
          border-radius: 0.8vw;
        }
      }

      .outOfStock {
        cursor: pointer;
        background-color: #2a2728dc;
        color: #fff;
        text-align: center;
        font-size: 0.8vw;
        height: 6vw;
        width: 6vw;
        border-radius: 50%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 980px) {
          font-size: 1.2vw;
          height: 10vw;
          width: 10vw;
        }
      }
    }

    .swiper-slide {
      width: 100%;
      height: 100%;
      padding: 1vw 0.4vw;
      margin-bottom: 1.6vw;
      border-radius: 0.4vw;
      background-color: #decdbb;
      box-shadow: 0.2vw 0.2vw #ab9b92;
      @media (max-width: 980px) {
        padding: 2.4vw 0.4vw;
        border-radius: 0.8vw;
        margin-bottom: 4vw;
      }
      &:hover {
        background-color: #ab9b92;
        color: #fff;
        box-shadow: none;
      }
    }
  }
}
