.menuNav {
  .menuNav {
    position: relative;
  }

  .navBar {
    max-width: 100%;
    height: 3.6vw;
    padding: 0;
    margin: 0.2vw;
    display: flex;
    background-color: #decdbb;

    .navBarItem {
      width: 100%;
      margin: 0 auto;
      padding: 0 8vw;
      display: flex;
      justify-content: space-around;
      letter-spacing: 0.1vw;
      font-size: 1.2vw;
      align-items: center;
      position: relative;

      .items {
        box-sizing: border-box;
        cursor: pointer;
        align-items: center;
        display: flex;
        height: 90%;

        &:hover {
          padding: 0 2vw;
          color: #2a2728 !important;
          background-color: #f3eee8;
        }

        .item {
          a {
            font-weight: bold;
            letter-spacing: 0.1vw;
            color: #77675a;

            &:hover {
              color: #2a2728;
            }
          }
        }
      }
    }
  }
  .menuBar,
  .menu {
    display: none;
    top: 2vh;
  }
}
