.addressPage {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 80vw;
  margin: 2vw 8vw;
  padding: 0;
  border-radius: 0.4rem;

  .addressMenu {
    height: 60vh;
    flex: 1;
    margin-right: 2vw;

    .avatar {
      display: flex;
      flex-direction: row;
      user-select: none;
      cursor: pointer;
      position: relative;
      align-items: center;
      margin-top: 1.2vw;

      .avatarImg {
        height: 3.6vw !important;
        width: 3.6vw !important;
        border-radius: 50%;
        margin-right: 0.8vw;
        span {
          font-size: 0.8vw !important;
        }
      }
      .text {
        .userName {
          font-size: 1.2vw;
          font-weight: bold;
        }
        .editProfile {
          display: flex;
          align-items: center;
          margin-top: 0.4vw;
          font-size: 0.8vw;
        }
      }
    }

    .menu {
      margin-top: 4vw;

      .profile,
      .ranking,
      .voucher,
      .order,
      .favoriteProduct,
      .viewedProduct {
        font-size: 1.2vw;
        margin: 0.8vw 0;
        height: max-content;
        flex-direction: column;
        cursor: pointer;
        @media (max-width: 980px) {
          font-size: 1.8vw;
        }

        .profileItem {
          display: flex;
          flex-direction: column;
          margin-left: 0.8vw;
          .item {
            font-size: 1vw;
            @media (max-width: 980px) {
              font-size: 1.4vw;
            }
          }
        }

        .hidden {
          display: none;
        }
      }
    }
  }

  .addressContent {
    min-height: 100%;
    flex: 4;
    background: #decdbb1f;

    .title {
      margin: 1.2vw;
      color: #77675a;
      font-weight: bold;
      font-size: 1.6vw;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .addAddress {
        font-size: 1vw;
        font-weight: normal;
        display: flex;
        align-items: center;
        margin-left: 3.2vw;
        width: fit-content;
        height: 2.4vw;
        color: #77675a;
        border: 0.12rem solid #77675a;
        background: #decdbb;
        justify-content: center;
      }
    }

    .content {
      display: flex;
      flex-direction: column;

      .listAddress {
        display: flex;
        flex-direction: column;

        .item {
          display: flex;
          flex-direction: column;
          width: 100%;
          margin: 0 2vw;

          .main {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            align-items: flex-end;

            .receiverInfo {
              display: flex;
              align-items: flex-end;

              .receiverName {
                font-size: 1.2vw;
                color: #77675a;
              }

              .receiverPhone {
                font-size: 1vw;
              }
            }

            .action {
              display: flex;

              .update {
                font-size: 1vw;
                cursor: pointer;
                &:hover {
                  color: #77675a;
                  font-weight: bold;
                }
              }

              .delete {
                font-size: 1vw;
                margin-left: 1.2vw;
                cursor: pointer;
                &:hover {
                  color: red;
                  font-weight: bold;
                }
              }
            }
          }

          .detail {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            .address {
              display: flex;
              flex-direction: column;
              font-size: 1vw;
            }

            .setDefault {
              display: flex;
              justify-content: center;
              width: 6.4vw;
              height: auto;
              font-size: 1vw;
            }

            .ant-btn-default:not(:disabled):hover {
              color: #77675a;
              border-color: #77675a;
              font-weight: bold;
            }
          }

          .default {
            color: red;
            border: 0.08vw solid red;
            border-radius: 0.4vw;
            padding: 0 0.4vw;
            width: fit-content;
          }
        }
      }
    }
  }
}
