.header {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
}

.headerMenu {
  display: flex;
  align-items: center;
}

.headerMenu li {
  padding: 0.8rem;
}

.header a {
  font-size: 0.8rem;
}

.mobile_btn {
  display: none;
}

// input[type='file'] {
//   display: none;
// }

.inputSearch {
  min-width: 20vw !important;
  height: 2vw !important;
  @media (max-width: 980px) {
    height: 4vw !important;
  }
}

.cart {
  .countUser {
    display: flex;
    color: #fff;
    background-color: red;
    border-radius: 40%;
    padding: 0.3vw;
    text-align: center;
    font-size: 0.6vw;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
    width: 1vw;
    height: 1vw;
    position: absolute;
    top: 1vw;
    right: 6.8vw;
    z-index: 20;
  }
}

.account {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  user-select: none;
  cursor: pointer;
  position: relative;
  align-items: center;

  .avatar {
    width: 2vw !important;
    height: 2vw !important;
    border-radius: 50%;
    z-index: 6;
  }

  .userMenu {
    border-radius: 0.4vw;
    box-shadow: 0 1.6vw 2.4vw #0000004c, 0 0.8vw 0.8vw #00000033;
    background-color: #fff;
    z-index: 4;
    position: absolute;
    top: 3.2vw;
    right: 0rem;

    .listMenu {
      display: flex;
      flex-direction: row;

      .menuItem {
        display: flex;
        align-items: center;
        flex-direction: column;
        border-top-left-radius: 0.4vw;
        border-top-right-radius: 0.4vw;
        color: #aaa;

        .button {
          width: 8vw;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          &:hover {
            background-color: #ab9b92;
            color: #000;
          }
          .text {
            font-size: 1.2vw;
          }
        }

        + .menuItem {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border-top-left-radius: 0.4vw;
          border-top-right-radius: 0.4vw;
        }

        a {
          color: #aaa !important;
        }

        &:hover a {
          color: #000 !important;
        }
      }
    }
  }

  .userMenu-hidden {
    display: none;
  }
}

@media (max-width: 980px) {
  .mobile_btn {
    display: block;
    position: absolute;
    right: 1rem;
    cursor: pointer;
    z-index: 2;
  }

  .headerMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: -100%;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f8f8;
    transition: left 1s;
    z-index: 2;
  }

  .active {
    left: 0;
  }

  .header a {
    font-size: 1.2rem;
  }

  .image {
    z-index: 2;
  }
}
