.footer {
  display: flex;
  flex-direction: row;
  background-color: #ab9b92;
  margin-top: 8vw;

  .contentFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 2vw 16vw;
    align-items: flex-start;

    .contactGroup {
      font-size: 0.8vw;

      .contactTile {
        font-size: 1.2vw;
        font-weight: bold;
      }

      .contactList {
        width: 100%;
        // margin: 0.2vw 0.8vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .contact {
          display: flex;
          flex-direction: column;

          .type {
            font-size: 1vw;
            font-weight: bold;
          }

          .name {
            margin: 0.2vw 0.4vw;
            font-weight: bold;
          }

          .phone,
          .email {
            margin: 0.2vw 0.4vw;
          }
        }
      }
    }

    .addressGroup {
      font-size: 0.8vw;

      .addressTilte {
        font-size: 1.2vw;
        font-weight: bold;
      }

      .addressList {
        margin: 0.2vw 0.8vw;
        display: flex;
        flex-direction: row;
        align-items: flex-end;

        .store {
          font-weight: bold;
          margin-right: 0.4vw;
        }
      }
    }
  }
}
