.registerPage {
  z-index: 200;
  background-color: #decdbb;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;

  .registerForm {
    position: absolute;
    top: 2vw;
    left: 50%;
    width: 30vw;
    height: 46vw;
    transform: translate(-50%, 4vh);
    display: flex;
    padding: 1.2vw;
    margin: 0 auto;
    background: #f3eee8;
    border-radius: 1.2vw;
    overflow: hidden;
    justify-content: center;
    box-shadow: 0 0 1.2vw 0.6vw #ab9b92;
    flex-direction: column !important;

    @media (max-width: 980px) {
      flex-flow: wrap;
      width: 52vw;
      height: 70vw;
      top: 20%;
    }

    .title {
      font-family: 'Paytone';
      text-align: center;
      color: #77675a;
      font-weight: bold;
      font-size: 3.6vw;
      margin: 0;
      @media (max-width: 980px) {
        margin-top: -4vw;
      }
    }

    .inputs {
      padding-top: 1.2vw;
      overflow: hidden;

      .item {
        padding-top: 0.4vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        .label {
          font-size: 1.2vw;
          color: #77675a;

          @media (max-width: 980px) {
            font-size: 2.4vw;
          }
        }

        .input {
          height: 2.4vw;
          width: 100%;
          border: none;
          outline: none;
          color: #fff;
          font-size: 1.2vw;
          margin-top: 0.4vw;
          text-indent: 0.8vw;
          border-radius: 0.4vw;
          background-color: #decdbb;
          border: 0.02vw solid #77675a;
          @media (max-width: 980px) {
            height: 4vw;
            font-size: 2vw;
            border-radius: 0.8vw;
          }
        }

        .ant-input {
          background: #decdbb;
        }
      }

      .genderItem {
        padding-top: 0.4vw;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        color: #77675a;
        align-items: center;

        @media (max-width: 980px) {
          font-size: 2.4vw;
        }

        .label {
          font-size: 1.2vw;
          color: #77675a;

          @media (max-width: 980px) {
            font-size: 2.4vw;
          }
        }

        .genderRadio {
          display: flex;
          align-items: center !important;
          justify-content: center;

          .input {
            margin-right: 0.32vw;
          }
        }
      }
    }

    .button {
      height: 8vw;

      .buttonRegister {
        display: flex;
        align-self: center;
        color: #fff;
        background-color: #ab9b92;
        width: 100%;
        height: 2.4vw;
        font-size: 1.2vw;
        border-radius: 0.4vw;
        text-transform: none;
        margin-top: 1.6vw;
        justify-content: center;
        align-items: center;
        @media (max-width: 980px) {
          height: 4vw;
          font-size: 2.4vw;
          margin-top: 2vw;
        }
        &:hover {
          background-color: #77675a;
        }
      }

      .buttonLogin {
        display: flex;
        align-self: center;
        color: #77675a;
        background-color: #decdbb;
        width: 100%;
        height: 2.4vw;
        font-size: 1.2vw;
        border-radius: 0.4vw;
        text-transform: none;
        margin-top: 0.8vw;
        justify-content: center;
        align-items: center;
        @media (max-width: 980px) {
          height: 4vw;
          font-size: 2.4vw;
        }
        &:hover {
          background-color: #ab9b92;
          color: #fff;
        }
      }

      p {
        color: #77675a;
        font-size: 0.8vw;
        margin: 0.8vw 0 0.4vw 0;
        overflow: hidden;
        text-align: center;
        width: 100%;
        height: 1.2vw;
        @media (max-width: 980px) {
          height: 1.6vw;
          margin: 0 0 1.2vw 0;
          font-size: 1.2vw;
        }
      }
      p:before,
      p:after {
        background-color: #decdbb;
        content: '';
        display: inline-block;
        height: 0.2vh;
        position: relative;
        vertical-align: middle;
        width: 40%;
      }
      p:before {
        right: 0.4vw;
      }
      p:after {
        left: 0.4vw;
      }
    }
  }
}
